@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
body {
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: #e9fdf9;
  position: relative;
  overflow: hidden;
}

.logo {
  position: absolute;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.08);
  z-index: 0;
}

.login-box {
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, rgb(94, 181, 169, .5), rgb(63, 141, 130, .5));
  backdrop-filter: blur(10px);         /* blur effect */
  -webkit-backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  width: 340px;
  text-align: center;
  color: #ffffff;
  transition: all 0.3s ease;
}
.login-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}
.login-box i.fa-user {
  font-size: 45px;
  margin-bottom: 10px;
  color: #fff;
}
.login-box p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 30px 0;
  font-weight: 600;
}

.input-box {
  position: relative;
  width: 300px;
  margin: 25px auto 10px auto;
}
.input-box input {
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 1.5px solid rgb(255, 255, 255,.8);
  outline: none;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease;
}
.input-box label {
  position: absolute;
  top: 12px;
  left: 0;
  color: #d8f3ef;
  pointer-events: none;
  transition: 0.3s ease all; 
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: -10px;
  font-size: 12px;
  color: #d8f3ef;
}

.input-box input:focus {
  border-color: #02d2fc;
}

.input-box i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #e1f4f0;
  cursor: pointer;
}


.btn {
  background: linear-gradient(to right, #9fe2d5, #6acbb6);
  border: none;
  outline: none;
  margin: 20px 0 0 0;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  color: #2c6159;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.input-box.error input {
  border-bottom: 2px solid #ff4d4d;
}


.error{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4d4d;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}
.hidden {
  display: none;
}
